src/main/resources/wsdl/TariffService_1_2_3_4_5_6_7_8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown.--><schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://services.sbi.ch/system/productengine/tarif/v2/filtereProdukteRequest" version="2_0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:pedt="http://services.helsana.ch/system/productengine/datentypen/v2" xmlns:tns="http://services.sbi.ch/system/productengine/tarif/v2/filtereProdukteRequest" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://services.helsana.ch/system/productengine/datentypen/v2" schemaLocation="TariffService_1.xsd"/>
  <element name="filtereProdukteRequest">
    <complexType>
      <sequence>
        <element maxOccurs="1" minOccurs="1" name="correlationId" type="xsd:string"/>
        <element maxOccurs="1" minOccurs="1" name="vertrag" type="tns:Versicherungsvertrag"/>
      </sequence>
    </complexType>
  </element>
  <complexType name="KollektivVertrag">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="callerId" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="1" name="id" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="personalNummer" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="1" name="personengruppe" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="Leistungserbringer">
    <sequence>
      <element maxOccurs="1" minOccurs="1" name="avmNetz" type="xsd:string">
        <annotation>
          <documentation>AVM Beschreibung</documentation>
        </annotation>
      </element>
      <element maxOccurs="1" minOccurs="1" name="avmNetzId" type="xsd:string">
        <annotation>
          <documentation>AVM ID</documentation>
        </annotation>
      </element>
      <element maxOccurs="1" minOccurs="0" name="id" type="xsd:string">
        <annotation>
          <documentation>ID des Arzt</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="Person">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="beantragterRabatt" type="tns:Rabatt"/>
      <element maxOccurs="1" minOccurs="1" name="geburtsdatum" type="xsd:date"/>
      <element maxOccurs="1" minOccurs="1" name="geschlecht" type="pedt:Geschlecht"/>
      <element maxOccurs="1" minOccurs="1" name="id" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="kollektivVertrag" type="tns:KollektivVertrag"/>
      <element maxOccurs="1" minOccurs="0" name="vertragsdauer" type="xsd:integer"/>
    </sequence>
  </complexType>
  <complexType name="PersonListType">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="1" name="person" type="tns:Person"/>
    </sequence>
  </complexType>
  <complexType name="ProduktListType">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="1" name="produkt" type="tns:Vertragsbaustein"/>
    </sequence>
  </complexType>
  <complexType name="Rabatt">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="kinderStartRabatt" type="xsd:boolean"/>
      <element maxOccurs="1" minOccurs="0" name="kollektivvertragNummer" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="kollektivvertragPersonengruppe" type="xsd:string"/>
    </sequence>
  </complexType>
  <complexType name="Versicherungsvertrag">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="gemeindeNummer" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="land" type="pedt:Land"/>
      <element maxOccurs="1" minOccurs="1" name="marke" type="pedt:Mandant"/>
      <element maxOccurs="1" minOccurs="1" name="personList" type="tns:PersonListType"/>
      <element maxOccurs="1" minOccurs="1" name="postleitzahl" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="postleitzahlZusatz" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="produktList" type="tns:ProduktListType"/>
      <element maxOccurs="1" minOccurs="1" name="vertragsbeginn" type="xsd:date"/>
    </sequence>
  </complexType>
  <complexType name="Vertragsbaustein">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="arzt" type="tns:Leistungserbringer"/>
      <element maxOccurs="1" minOccurs="1" name="produktId" type="xsd:string"/>
    </sequence>
  </complexType>
</schema>