src/main/resources/wsdl/TariffService_1_2_3_4_5_6_7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown.--><schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://services.sbi.ch/system/productengine/tarif/v2/filtereProdukteFaults" version="2_0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:pedt="http://services.helsana.ch/system/productengine/datentypen/v2" xmlns:tns="http://services.sbi.ch/system/productengine/tarif/v2/filtereProdukteFaults" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://services.helsana.ch/system/productengine/datentypen/v2" schemaLocation="TariffService_1.xsd"/>
  <element name="filtereProdukteBusinessFault">
    <complexType>
      <complexContent>
        <extension base="pedt:BusinessCommonFault">
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="correlationId" type="xsd:string"/>
            <element maxOccurs="1" minOccurs="1" name="errorCode" type="xsd:string"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
  <element name="filtereProdukteSystemFault">
    <complexType>
      <complexContent>
        <extension base="pedt:SystemCommonFault">
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="correlationId" type="xsd:string"/>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>
</schema>